.about {
    padding: 1rem;
    height: 57vh;
    display: flex;
    justify-content: center;
    align-items: center;

    >.content {
        width: 40rem;

        >p {
            font-size: 1.4rem;
            text-align: center;
        }
    }
}